<div data-dropdown-target="menu" class="lg:hidden" role="dialog" aria-modal="true">
  <div class="fixed inset-0 z-10"></div>
  <div class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
    <div class="flex items-center justify-between">
      <%= render Header::LogoComponent.new %>
      <button data-action="dropdown#toggle:stop" type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
        <span class="sr-only">Close menu</span>
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
    <div class="mt-6 flow-root">
      <div class="-my-6 divide-y divide-gray-500/10">
        <div data-controller="dropdown" data-action="click@window->dropdown#hide touchstart@window->dropdown#hide keydown.up->dropdown#previousItem keydown.down->dropdown#nextItem keydown.esc->dropdown#hide" class="space-y-2 pt-6">
          <%= render Header::DropdownComponent.new(
                title: "Examples",
                items: [{title: "Documents", path: documents_path}, {title: "Boards", path: boards_path}],
                mobile: true
              ) %>
        </div>
        <div class="py-2">
          <%= link_to "About", about_index_path, class: "-mx-3 block rounded-lg px-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50" %>
        </div>
      </div>
    </div>
  </div>
</div>
