<table class="min-w-full divide-y divide-gray-300">
  <thead>
    <tr>
      <% headers.each do |header| %>
        <%= header %>
      <% end %>
    </tr>
  </thead>
  <tbody class="divide-y divide-gray-200">
    <% rows.each do |row| %>
      <%= row %>
    <% end %>
  </tbody>
</table>
