<p>Root</p>

<div class="mx-auto mb-7 inline-block">
  <%= svg_icon("airplay", width: 48, height: 48, color: "blue") %>
</div>

<div class="mx-auto mb-7 inline-block">
<%= svg_icon("award", width: 48, height: 48, color: "red") %>
</div>

<div class="mx-auto mb-7 inline-block">
<%= svg_icon("disnaework", width: 48, height: 48, color: "red") %>
</div>
