
<%= render Button::LinkComponent.new(text: t("buttons.edit"), path: with_search_session_token(edit_document_path(@document))) %>
<section class="py-12 px-4 max-w-7xl mx-auto">
  <article class="prose">
    <% @document.fragments.sort_by(&:position).each do |fragment| %>
      <%= fragment.render %>
    <% end %>
  </article>
</section>
