<div id="<%= dom_id board %>">
  <p>
    <strong>Name:</strong>
    <%= board.name %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= board.owner_id %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= board.active %>
  </p>

</div>
