<h1>Ideas</h1>
<ul>
  <li>
    <p>To Do App</p><a href="https://todomvc.com/" target="_blank">(TodoMVC)</a> <a href="https://friday.app/p/to-do-lists" target="_blank">(Friday)</a>
  </li>
  <li>
    <p>Trello Clone</p>
  </li>
  <li>
    <p>Rest Countries API</p> <a href="https://www.frontendmentor.io/challenges/rest-countries-api-with-color-theme-switcher-5cacc469fec04111f7b848ca" target="_blank">(Frontend Mentor)</a>
  </li>
  <li>
    <p>Scottish Football Database</p>
  </li>
  <li>
    <p>Markdown Editor</p>
  </li>
</ul>
