  <div class="px-1 py-1 border-b border-gray-200">
    <h3 class="py-1 px-1 text-base leading-7 font-semibold text-gray-900"><%= title %></h3>
    <% if description %>
      <p class="py-1 px-1 text-xs leading-6 text-gray-600"><%= description %></p>
    <% end %>
  </div>     