<%= button_to index_view_active_filter_path(index_view, filter_id: nil, search_session_token: search_session_token),
      method: :patch,
      form: {data: {turbo_frame: "_top"}},
      class: "text-sky-500 text-xs flex items-center space-x-1 px-4" do %>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-4 w-4">
    <path d="M5.25 3A2.25 2.25 0 0 0 3 5.25v9.5A2.25 2.25 0 0 0 5.25 17h9.5A2.25 2.25 0 0 0 17 14.75v-9.5A2.25 2.25 0 0 0 14.75 3h-9.5Z" />
  </svg>
  <span><%= t("buttons.clear_filter") %></span>
<% end %>
