<div class="sm:flex sm:items-center">
  <div class="sm:flex-auto">
    <h1 class="text-base font-semibold leading-6 text-gray-900"><%= @title %></h1>
  </div>
  <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
    <%= render Button::ActionComponent.new(path: @action_path, text: @action_text) %>
  </div>
</div>