
  <div class="flex justify-between items-center border-t pt-4">
    <div>
      <%== pagy_info(@pagy) %>
    </div>

    <div class="flex-grow flex justify-center">
      <% if pagy.pages > 1 %>
        <%== pagy_nav pagy %>
      <% end %>
    </div>
    <div>
      <% if index_view&.active_filter.present? %>
        <span class="flex items-center">
          <p class="text-xs text-green-600 font-semibold"><%= t("labels.filter", name: index_view.active_filter.name) %></p>        
          <%= render Index::ClearFilterButtonComponent.new(index_view: index_view, search_session: search_session_token) %>
        </span>
      <% end %>
    </div>

  </div>
